<div class='h-full w-full bg-text-primary flex flex-col justify-between py-8 items-center'>
  <h1 class='text-secondary font-semibold italic my-auto mb-[15rem] justify-self-center text-4xl mb-4'>Budget App</h1>

  <div class='flex flex-col justify-center items-center gap-2 mt-4'>
    <%= link_to 'Log in', new_user_session_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-normal py-4 text-center uppercase px-4 rounded w-[300px]' %>
    <%= link_to 'Sign up', new_user_registration_path, class: 'bg-transparent text-secondary hover:bg-blue-700 font-normal py-4 text-center uppercase px-4 rounded w-[300px]' %>
  </div>
</div>