<div class="w-full h-full pb-[50rem]">

  <%= render partial: 'shared/header', locals: { heading: 'categories', back: true } %>

  <div class='flex flex-col justify-start items-center pt-8 px-4'>
    <% if notice.present? %>
      <p class="py-2 px-3 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div id="categories" class="flex flex-col justify-start items-center gap-4 pb-10rem">
      <%= render @categories %>
    </div>

    <%= render partial: 'shared/button', locals: { button_text: 'Create new category', button_path: new_category_path } %>
  </div>
</div>
