<div class="w-full border-orange-500 h-full">

  <%= render partial: 'shared/header', locals: { heading: 'categories', back: true } %>

  <div class='flex flex-col border-green-500 justify-start items-start pt-8 px-4'>
    <% if notice.present? %>
      <p class="py-2 px-3 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div id="categories" class="gap-4 flex flex-col justify-start items-center w-full border-amber-500 pb-10rem">
      <%= render @categories %>
    </div>

    <%= render partial: 'shared/button', locals: { button_text: 'Create new category', button_path: new_category_path } %>
  </div>
</div>
